//--------------------------- Tiki CSS variables
// Background images (actual images or CSS gradients, etc.), if assigned, override background colors.

// Used for L&F nav color choice and color mode override
@mixin top-nav-dark {
    --tiki-top-bg: linear-gradient(#25282c, #292c30 40%, #2b2f32);
    --tiki-top-color: rgba(255, 255, 255, 0.55);
    --tiki-top-hover-color: #fff;
    --tiki-top-text-color: #fff;
    --tiki-top-hover-bg: linear-gradient(#25282c, #292c30 40%, #2b2f32);
    --tiki-top-border: solid rgba(0, 0, 0, 0.6);
    --bs-navbar-brand-color: #{$navbar-dark-brand-color};
    --bs-navbar-brand-hover-color: #{$navbar-dark-brand-hover-color};
}

@mixin topbar-nav-dark {
    --tiki-topbar-bg: linear-gradient(#25282c, #292c30 40%, #2b2f32);
    --tiki-topbar-color: rgba(255, 255, 255, 0.55);
    --tiki-topbar-hover-color: #fff;
    --tiki-topbar-text-color: #fff;
    --tiki-topbar-hover-bg: linear-gradient(#25282c, #292c30 40%, #2b2f32);
    --tiki-topbar-border: solid rgba(0, 0, 0, 0.6);
}

@mixin top-nav-light { // These colors not currently used
    --tiki-top-bg: rgb(233, 236, 239);
    --tiki-top-color: rgba(0, 0, 0, 0.55);
    --tiki-top-hover-color: #3a3f44;
    --tiki-top-text-color: #3a3f44;
    --tiki-top-hover-bg: linear-gradient(#4e5357, #555b5f 40%, #5a6065);
    --tiki-top-border: solid rgba(0, 0, 0, 0.6);
    --bs-navbar-brand-color: #{$navbar-light-brand-color};
    --bs-navbar-brand-hover-color: #{$navbar-light-brand-hover-color};
}

@mixin topbar-nav-light { // These colors not currently used
    --tiki-topbar-bg: rgb(233, 236, 239);
    --tiki-topbar-color: rgba(0, 0, 0, 0.55);
    --tiki-topbar-hover-color: #3a3f44;
    --tiki-topbar-text-color: #3a3f44;
    --tiki-topbar-hover-bg: linear-gradient(#4e5357, #555b5f 40%, #5a6065);
    --tiki-topbar-border: solid rgba(0, 0, 0, 0.6);
}


.tiki-top-nav-light {
    @include top-nav-dark;
}

.tiki-topbar-nav-light {
    @include topbar-nav-dark;
}

.tiki-top-nav-dark {
    @include top-nav-dark;
}

.tiki-topbar-nav-dark {
    @include topbar-nav-dark;
}

.tiki-top-nav-light, .tiki-top-nav-dark {
    --tiki-top-border-width: 1px;
    --tiki-topbar-border-width: 1px;
}

// - - - - - New admin pages (Unified Admin Backend) - - - - - - - //

// Light navbar minus top nav -- Dark colors below are used for light and dark admin navbars.
//.tiki .tiki-admin-top-nav-light,
//.tiki .tiki-admin-aside-nav-light {
//    --tiki-admin-top-nav-bg: linear-gradient(#25282c, #292c30 40%, #2b2f32);
//    --tiki-admin-top-nav-color: rgba(255, 255, 255, 0.55);
//    --tiki-admin-top-nav-hover-color: #fff;
//    --tiki-admin-top-nav-hover-bg: linear-gradient(#25282c, #292c30 40%, #2b2f32);
//    --tiki-admin-aside-nav-bg: linear-gradient(#25282c, #292c30 40%, #2b2f32);
//    --tiki-admin-aside-nav-color: var(--tiki-admin-top-nav-color);
//    --tiki-admin-aside-nav-hover-color: var(--tiki-admin-top-nav-hover-color);
//    --tiki-admin-dropdown-link-color: #{$link-color};
//    --tiki-admin-dropdown-bg: #{$dropdown-dark-bg};
//    --tiki-admin-dropdown-link-hover-color: #{$dropdown-link-hover-color};
//    --tiki-admin-dropdown-link-hover-bg: #{$dropdown-dark-link-hover-bg};
//}
// Light top nav
//.tiki.tiki-admin .top_modules.navbar-light-parent {
//    --tiki-admin-top-nav-bg: linear-gradient(#25282c, #292c30 40%, #2b2f32);
//}

// Dark navbar minus top nav
.tiki .tiki-admin-top-nav-dark,
.tiki .tiki-admin-aside-nav-dark,
.tiki .tiki-admin-top-nav-light,
.tiki .tiki-admin-aside-nav-light {
    --tiki-admin-top-nav-color: rgba(255, 255, 255, 0.55);
    --tiki-admin-top-nav-hover-color: #fff;
    --tiki-admin-top-nav-hover-bg: linear-gradient(#25282c, #292c30 40%, #2b2f32);
    --tiki-admin-aside-nav-bg: linear-gradient(#25282c, #292c30 40%, #2b2f32);
    --tiki-admin-aside-nav-color: var(--tiki-admin-top-nav-color);
    --tiki-admin-aside-nav-hover-color: var(--tiki-admin-top-nav-hover-color);
    --tiki-admin-dropdown-link-color: #{$link-color};
    --tiki-admin-dropdown-bg: #{$dropdown-dark-bg};
    --tiki-admin-dropdown-link-hover-color: #{$dropdown-link-hover-color};
    --tiki-admin-dropdown-link-hover-bg: #{$dropdown-dark-link-hover-bg};
    .accordion-item {
        border-color:  transparent; // var(--bs-accordion-border-color);
    }
}
// Dark top nav
.tiki.tiki-admin .top_modules.navbar-dark-parent {
    --tiki-admin-top-nav-bg: linear-gradient(#25282c, #292c30 40%, #2b2f32);
}
// - - - - - New admin pages (Unified Admin Backend) END - - - - - - - //

:root {
    --tiki-code-bg: #32383e;
}