/* Sketchy theme newsletter stylesheet */
@import "../../base_files/css/newsletter.scss";
@import "../../../vendor_bundled/vendor/thomaspark/bootswatch/dist/sketchy/variables";
//@import url("//fonts.googleapis.com/css?family=Open+Sans:400,700");

$font-family-sans-serif:  Optima, Candara, 'Noto Sans', source-sans-pro, sans-serif;
$font-family-base:        $font-family-sans-serif;
$font-size-base:          13px;
